h1{
    width: 406px;
height: 48px;
left: 553px;
top: 255px;

font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 48px;
/* identical to box height */

text-align: center;
letter-spacing: -0.04em;

color: #084B82;

}