/* @import url("https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap");


.form {
  background-image: url("../GAMBITOR SVG/GAMBITOR SVG/Other\ Background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Goldman", cursive;
  width: 100vw;
  overflow-x: hidden;
}
.buttonStyle{
  display: flex;
  align-items: center;
  justify-content: center;
  height:10%;
}
.styleError{
  display: flex;
  justify-content: center;
  color: #FFB400;
  font-size: 1.9rem;
}
.form-div img{
  width: 65%;
  height: 60%;
  margin: 20vh 0 5vh 0;
  align-items: center;
}

.container-reg {
  margin: 0 auto;
  background-position: center center;
  padding: 60px 90px 70px;
  border-radius: 20px;
  border: 4px solid #FFB400;
  font-family: "Goldman", cursive;
  background-image: radial-gradient(circle, #1B2469, #1B256A, #246CA4);
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
}

.elements {
  width: 100%;
  margin: 0 auto;
}

.verification {
  display: flex;
  flex-direction:column;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  color: #FFB400;
  height: 35px;
  border: 2px solid #FFB400;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  
}

option {
  color: #FFB400;
  width: 40%;
}

.input-verify {
  width: 100%;
  height: 35px;
  color: #FFB400;
  border: 2px solid #FFB400;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.btn {
  width: 30%;
  height: 38px;
  background-color: #FFB400;
  color: white;
  border: none;
  border-radius: 10px;
  margin-left: 20px;
  
}

.submit-button {
  height: 30px;
  margin: 40px auto;
  background-color: #FFB400;
  width: 34%;
  height: 50px;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 26px;
  font-weight: 200;
}

.submit-button:hover{
  color: #1B2469;
}

.title {
  height: 200px;
  margin: 0 0 30px 0;
  color: #FFB400;
  text-align: left;
  width: 100%;
  font-family: Josefin Sans;
  font-size: 3.5vw;
  font-weight: 700;
  line-height: 8vw;
  letter-spacing: -0.05em;
  padding: 0;

}





@media screen and (max-width: 1500px) and (min-width: 1200px) {
  .elements {
    width: 84%;
    margin: 1vh auto 0;
  }

  .title {
    height: 90px;
    margin: 0 0 40px 0;
    width: 100%;
    font-size: 2vw;
    letter-spacing: -0.05em;
    margin-bottom: 0;
  }
 
}

@media screen and (max-width: 1300px) and (min-width: 1200px) {
  #heading {
    border: 2px solid #FFB400;
    text-align: center;
    margin: 20vh 200px 0 200px;
    padding: 30px;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    font-family: "Ysabeau SC", sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: #FFB400;
    background-image: radial-gradient(circle, #1B256A, #246CA4, #1B2469);
    opacity: 0.9;
  }

  .container-reg {
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 40px 0;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: "Goldman", cursive;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 74vw;
  }

  .elements {
    width: 85%;
    margin: 0 auto;
    padding-top: 1vh;
  }

  .title {
    margin: 10px 0;
    text-align: left;
    width: 100%;
    height: 8%;
    font-size: 2.5vw;
    line-height: 6vw;
    text-align: left;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1158px) {
  #heading {
    border: 2px solid #FFB400;
    text-align: center;
    margin: 20vh 200px 0 200px;
    padding: 30px;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    font-family: "Ysabeau SC", sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: #FFB400;
    background-image: radial-gradient(circle, #1B256A, #246CA4, #1B2469);
    opacity: 0.9;
  }

  .container-reg {
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 40px 0;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: "Goldman", cursive;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 74vw;
  }

  .elements {
    width: 85%;
    margin: 0 auto;
    padding-top: 13vh;
  }

  .title {
    margin: 10px 0;
    text-align: left;
    width: 100%;
    height: 8%;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 6vw;
    letter-spacing: -0.05em;
    text-align: left;
    margin-bottom: 0;
    padding: 0;
    color: #FFB400;
  }
}

@media screen and (max-width: 1158px) and (min-width: 1000px) {
  #heading {
    border: 2px solid #FFB400;
    text-align: center;
    margin: 20vh 200px 0 200px;
    padding: 30px;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    font-family: "Ysabeau SC", sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: #FFB400;
    background-image: radial-gradient(circle, #1B256A, #246CA4, #1B2469);
    opacity: 0.9;
  }

  .container-reg {
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 40px 0;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: "Goldman", cursive;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 77vw;
  }

  .elements {
    width: 85%;
    margin: 0 auto;
    padding-top: 11vh;
  }

  .title {
    margin: 10px 0;
    text-align: left;
    width: 100%;
    height: 8%;
    font-size: 2.5vw;
    line-height: 6vw;
    letter-spacing: -0.05em;
    text-align: left;
    margin-bottom: 0;
  }

  .submit-button {
    height: 30px;
    background-color: #FFB400;
    width: 34%;
    height: 38px;
    color: white;
    border: none;
    border-radius: 10px;

  }
}



@media screen and (max-width: 1000px) and (min-width:971px) {
  #heading {
    border: 2px solid #FFB400;
    text-align: center;
    margin: 20vh 200px 0 200px;
    padding: 30px;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    font-family: "Ysabeau SC", sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: #FFB400;
    background-image: radial-gradient(circle, #1B256A, #246CA4, #1B2469);
    opacity: 0.9;
  }

  .container-reg {
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 40px 0;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: "Goldman", cursive;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 74vw;
  }

  .elements {
    width: 88%;
    margin: 0 auto;
    padding-top: 11vh;
  }

  .title {
    margin: 10px 0;
    text-align: left;
    width: 100%;
    height: 8%;
    font-size: 2.8vw;
    font-weight: 700;
    line-height: 6vw;
    letter-spacing: -0.05em;
    text-align: left;
    margin-bottom: 0;
    padding: 0;
    color: #FFB400;
  }

  .submit-button {
    height: 30px;
    margin: 13px auto 0;
    background-color: #FFB400;
    width: 34%;
    height: 38px;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 18vh;

  }

  .input {
    width: 100%;
    height: 23px;
    border: 2px solid #FFB400;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFB400;
  }

  .input-verify {
    width: 100%;
    height: 23px;
    border: 2px solid #FFB400;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
  
  
  }
  .styleError{
    font-size:24px;
  }
  
}

@media screen and (max-width: 971px) and (min-width:800px) {
  #heading {
    border: 2px solid #FFB400;
    text-align: center;
    margin: 20vh 200px 0 200px;
    padding: 30px;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    font-family: "Ysabeau SC", sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: #FFB400;
    background-image: radial-gradient(circle, #1B256A, #246CA4, #1B2469);
    opacity: 0.9;
  }

  .container-reg {
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 40px 0;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: "Goldman", cursive;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 74vw;
  }

  .elements {
    width: 88%;
    margin: 0 auto;
    padding-top: 8vh;
  }

  .title {
    margin: 10px 0;
    text-align: left;
    width: 100%;
    height: 8%;
    font-size: 2.8vw;
    font-weight: 700;
    line-height: 6vw;
    letter-spacing: -0.05em;
    text-align: left;
    margin-bottom: 0;
    padding: 0;
    color: #FFB400;
  }

  .submit-button {
    height: 38px;
    background-color: #FFB400;
    width: 44%;
    color: white;
    border: none;
    border-radius: 10px;


  }

  .input {
    width: 100%;
    height: 23px;
    border: 2px solid #FFB400;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFB400;
  }

  .input-verify {
    width: 100%;
    height: 23px;
    border: 2px solid #FFB400;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
  
  
  }
  .styleError{
    font-size:22px;
  }
  
}

@media screen and (max-width: 800px) and (min-width:600px) {
  #heading {
    border: 2px solid #FFB400;
    text-align: center;
    margin: 20vh auto 0 auto;
    margin-bottom: 60px;
    padding: 30px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    font-family: "Ysabeau SC", sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: #FFB400;
    background-image: radial-gradient(circle, #1B256A, #246CA4, #1B2469);
    opacity: 0.9;
    width: 80%;
  }

  .container-reg {
    margin: 0 auto;
    padding: 0 40px 0;
    border: 3.5px solid #FFB400;
    border-radius: 20px;
    font-family: "Goldman", cursive;
    background-image: radial-gradient(circle, #1B2469, #1B256A, #246CA4);
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 108vw;
  }

  .elements {
    width: 92%;
    height: 100%;
    margin: 0 auto;
    padding-top: 2vh;
  }

  .title {
    margin: 20px 0;
    text-align: left;
    width: 100%;
    height: 5%;
    font-size: 4vw;
    font-weight: 700;
    line-height: 6vw;
    letter-spacing: -0.05em;
    text-align: left;
    margin-bottom: 0;
    padding: 0;
    color: #FFB400;
  }

  .submit-button {
    height: 38px;
    background-color: #FFB400;
    width: 44%;
    color: white;
    border: none;
    border-radius: 10px;


  }

  .input {
    width: 100%;
    height: 25px;
    border: 2px solid #FFB400;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    
    color: #FFB400;
  }

  .input-verify {
    width: 100%;
    height: 25px;
    border: 2px solid #FFB400;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
  
  
  }
  .styleError{
    font-size:19px;
  }
  
}

@media screen and (max-width: 600px) and (min-width: 500px){
  #heading {
    border: 2px solid #FFB400;
    text-align: center;
    margin: 20vh auto 0 auto;
    margin-bottom: 60px;
    padding: 30px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    font-family: "Ysabeau SC", sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: #FFB400;
    background-image: radial-gradient(circle, #1B256A, #246CA4, #1B2469);
    opacity: 0.9;
    width: 80%;
  }

  .container-reg {
    margin: 0 auto;
    padding: 0 40px 0;
    border: 3.5px solid #FFB400;
    border-radius: 20px;
    font-family: "Goldman", cursive;
    background-image: radial-gradient(circle, #1B2469, #1B256A, #246CA4);
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 90vw;
  }

  .elements {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding-top: 1.5vh;
  }

  .title {
    margin: 10px 0;
    text-align: left;
    width: 100%;
    height: 6%;
    font-size: 4vw;
    font-weight: 700;
    line-height: 6vw;
    letter-spacing: -0.05em;
    text-align: left;
    margin-bottom: 0;
    padding: 0;
    color: #FFB400;
  }

  .submit-button {
    height: 3.5vh;
    font-size: 1.6vh;
    background-color: #FFB400;
    width: 34%;
    color: white;
    border: none;
    border-radius: 5px;

  }

  .input {
    width: 100%;
    height:  2.5vh;
    border: 2px solid #FFB400;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 8px;
    color: #FFB400;
  }

  .input-verify {
    width: 100%;
    height: 2.5vh;
    border: 2px solid #FFB400;
    border-radius: 5px;
    font-size: 8px;
    background-color: rgba(255, 255, 255, 0.1);
  
  
  }
  .styleError{
    font-size:16px;
  }
}

@media screen and (max-width: 500px) and (min-width: 400px){
  #heading {
    border: 2px solid #FFB400;
    text-align: center;
    margin: 20vh auto 0 auto;
    margin-bottom: 60px;
    padding: 30px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    font-family: "Ysabeau SC", sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: #FFB400;
    background-image: radial-gradient(circle, #1B256A, #246CA4, #1B2469);
    opacity: 0.9;
    width: 80%;
  }

  .container-reg {
    margin: 0 auto;
    padding: 0 40px 0;
    border: 3.5px solid #FFB400;
    border-radius: 20px;
    font-family: "Goldman", cursive;
    background-image: radial-gradient(circle, #1B2469, #1B256A, #246CA4);
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 120vw;
  }

  .elements {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding-top: 2.5vh;

  }

  .title {
    margin: 10px 0;
    text-align: left;
    width: 100%;
    height: 5%;
    font-size: 4vw;
    font-weight: 700;
    line-height: 6vw;
    letter-spacing: -0.05em;
    text-align: left;
    margin-bottom: 0;
    padding: 0;
    color: #FFB400;
  }

  .submit-button {
    height: 3.5vh;
    font-size: 1.6vh;
    background-color: #FFB400;
    width: 38%;
    color: white;
    border: none;
    border-radius: 5px;

  }

  .input {
    width: 100%;
    height:  2.5vh;
    border: 2px solid #FFB400;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 8px;
    color: #FFB400;
  }

  .input-verify {
    width: 100%;
    height: 2.5vh;
    border: 2px solid #FFB400;
    border-radius: 5px;
    font-size: 8px;
    background-color: rgba(255, 255, 255, 0.1);
  
  
  }
  .styleError{
    font-size:14px;
  }
}

@media screen and (max-width: 400px) and (min-width: 356px) {
  #heading {
    border: 2px solid #FFB400;
    text-align: center;
    margin: 20vh auto 0 auto;
    margin-bottom: 60px;
    padding: 30px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    font-family: "Ysabeau SC", sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: #FFB400;
    background-image: radial-gradient(circle, #1B256A, #246CA4, #1B2469);
    opacity: 0.9;
    width: 80%;
  }

  .container-reg {
    margin: 0 auto;
    padding: 0 40px 0;
    border: 3.5px solid #FFB400;
    border-radius: 20px;
    font-family: "Goldman", cursive;
    background-image: radial-gradient(circle, #1B2469, #1B256A, #246CA4);
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 112vw;
  }

  .elements {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding-top: 1.8vh;
  }

  .title {
    margin: 10px 0;
    text-align: left;
    width: 100%;
    height: 5%;
    font-size: 3.2vw;
    font-weight: 700;
    line-height: 6vw;
    letter-spacing: -0.05em;
    text-align: left;
    margin-bottom: 0;
    padding: 0;
    color: #FFB400;
  }

  .submit-button {
    height: 3.5vh;
    font-size: 1.4vh;
    background-color: #FFB400;
    width: 34%;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 25px auto;
  }
  

  .input {
    width: 100%;
    height:  2.5vh;
    border: 2px solid #FFB400;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 12px;
    color: #FFB400;
  }

  .input-verify {
    font-size: 8px;
    width: 100%;
    height: 2.5vh;
    border: 2px solid #FFB400;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
  
  
  }
  
  .styleError{
    font-size:14px;
  }
}

@media screen and (max-width: 356px) {
  #heading {
    border: 2px solid #FFB400;
    text-align: center;
    margin: 20vh auto 0 auto;
    margin-bottom: 40px;
    padding: 30px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    font-family: "Ysabeau SC", sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: #FFB400;
    background-image: radial-gradient(circle, #1B256A, #246CA4, #1B2469);
    opacity: 0.9;
    width: 85%;
  }
  
  .container-reg {
    margin: 0 auto;
    padding: 0 40px 0;
    border: 2px solid #FFB400;
    border-radius: 20px;
    font-family: "Goldman", cursive;
    background-image: radial-gradient(circle, #1B2469, #1B256A, #246CA4);
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 115vw;
  }

  .elements {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 1.8vh;
  }

  .title {
    margin: 10px 0;
    text-align: left;
    width: 100%;
    height: 3%;
    font-size: 3.5vw;
    font-weight: 700;
    line-height: 6vw;
    letter-spacing: -0.05em;
    text-align: left;
    margin-bottom: 0;
    padding: 0;
    color: #FFB400;
  }

  .submit-button {
    height: 3vh;
    font-size: 1.2vh;
    background-color: #FFB400;
    width: 34%;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 20px auto;
  }
  

  .input {
    width: 100%;
    font-size: 7px;
    height:  1.8vh;
    border: 1px solid #FFB400;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFB400;
  }

  .input-verify {
    width: 100%;
    font-size: 7px;
    height: 1.8vh;
    border: 1px solid #FFB400;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.1);
  
  
  }

  .styleError{
    font-size:12px;
  }
}

 */


 @import url("https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap");


.form {
  background-image: url("reg_page_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Goldman", cursive;
  width: 100vw;
  overflow-x: hidden;
}


.form-div img{
  width: 65%;
  height: 60%;
  margin: 25vh 0 5vh 0;
  align-items: center;
}

.container-reg {
  margin: 0 auto;
  background-position: center center;
  padding: 60px 7vw 70px;
  border-radius: 20px;
  border: 4px solid #FFB400;
  font-family: "Goldman", cursive;
  background-image: radial-gradient(circle, #1B2469, #1B256A, #246CA4);
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
}

.elements {
  width: 100%;
  margin: 0 auto;
}

.verification {
  display: flex;
  flex-direction:column;
  width: 100%;
}

.input {
  width: 100%;
  color: #FFB400;
  height: 2.7vw;
  border: 2px solid #FFB400;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: Josefin Sans;
  font-size: 1.5vw;
  
}

.input option {
  color: #FFB400;
  width: 100%;
  box-sizing: border-box;
 
}



.input-verify {
  width: 100%;
  height: 2.7vw;
  color: #FFB400;
  border: 2px solid #FFB400;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  font-family: Josefin Sans;
  font-size: 1.5vw;
  
}


.btn {
  width: 30%;
  height: 38px;
  background-color: #FFB400;
  color: white;
  border: none;
  border-radius: 10px;
  margin-left: 20px;
  
}

.submit-button {
  height: 5vw;
  margin: 2vw auto 0;
  background-color: #FFB400;
  width: 28%;
  /* height: 50px; */
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.5vw;
  font-weight: 200;
  align-items: center;
  
}

.submit-button:hover{
  color: #1B2469;
}

.title {
  height: 5vw;
  margin-bottom: 20px;
  color: #FFB400;
  text-align: left;
  width: 100%;
  font-family: Josefin Sans;
  font-size: 3.5vw;
  font-weight: 700;
  line-height: 8vw;
  letter-spacing: -0.05em;
  padding: 0;

}

.error-msg{
   color: red;
   font-size: 1.7vw;
   font-family: Josefin Sans;
   font-weight: 700;
   margin-top: 2vw;
}

.sumbit-msg{
  color: aliceblue;
  font-size: 1.7vw;
  font-family: Josefin Sans;
  font-weight: 700;
  margin-top: 2vw;
}


@media screen and (max-width: 1000px) and (min-width: 700px) {
  
  .form-div img{
    width: 74%;
    height: 60%;
    margin: 25vh 0 5vh 0;
    align-items: center;
  }

  .container-reg {
    width: 74%;
    background-image: radial-gradient(circle 55vw at center, #1B2469, #1B256A, #246CA4);
    padding: 6vw 7vw 6vw;
  }

  .title {
    height: 5vw;
    margin-bottom: 18px;
  }

  .input {
    height: 3.4vw;
    font-size: 1.7vw;
  }

  .input-verify {
    width: 100%;
    height: 3.4vw;
    font-size: 1.7vw;
  }

  .submit-button {
    height: 4.8vw;
    font-size: 1.8vw;
    border-radius: 6px;
    
  }
  
}

@media screen and (max-width: 700px) and (min-width: 500px) {
  
  .form-div img{
    width: 80%;
    height: 60%;
    margin: 25vh 0 5vh 0;
    align-items: center;
  }

  .container-reg {
    width: 80%;
    background-image: radial-gradient(circle 80vw at center, #1B2469, #1B256A, #246CA4);
    padding: 6vw 7vw 6vw;
    border-radius: 15px;
    border: 2px solid #FFB400;
  }

  .title {
    height: 5vw;
    margin-bottom: 18px;
  }

  .input {
    height: 3.5vw;
    font-size: 1.7vw;
    border-radius: 3px;
    border: 1.5px solid #FFB400;
    margin-top: 0;
    
  }

  .input-verify {
    width: 100%;
    height: 3.5vw;
    font-size: 1.7vw;
    border-radius: 3px;
    border: 1.5px solid #FFB400;

  }

  .submit-button {
    height: 4.3vw;
    font-size: 1.8vw;
    border-radius: 6px;
    
  }
  
}

@media screen and (max-width: 500px) {
  .form-div img{
    width: 80%;
    height: 60%;
    margin: 25vh 0 5vh 0;
    align-items: center;
  }

  .container-reg {
    width: 80%;
    background-image: radial-gradient(circle 80vw at center, #1B2469, #1B256A, #246CA4);
    padding: 6vw 7vw 6vw;
    border-radius: 15px;
    border: 2px solid #FFB400;
  }

  .title {
    height: 5vw;
    margin-bottom: 1.2vh;
  }

  .input {
    height: 3.5vw;
    font-size: 1.7vw;
    border-radius: 3px;
    border: 1.5px solid #FFB400;
    margin-top: 0;
    
  }

  .input-verify {
    width: 100%;
    height: 3.5vw;
    font-size: 1.7vw;
    border-radius: 3px;
    border: 1.5px solid #FFB400;
    margin-top: 1.2vh;

  }

  .submit-button {
    height: 5vw;
    font-size: 2vw;
    border-radius: 6px;
    margin-top: 10px;
    
  }
}