.containerC {
  background-image: url("../GAMBITOR SVG/GAMBITOR SVG/Other\ Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  overflow-x: hidden;
  text-align: center;

}


.headbox {
  width: 70%;
  text-align: center;
}

.containerr h2 {
  color: #FFB400;
  font-family: Goldman;
  font-size: 5vw;
  text-align: center;
  font-weight: 600;
  padding: 5vw 0;
  line-height: 1vw;
  letter-spacing: 0.05em;
  border: 0.06em solid #FFB400;
  border-radius: 0.23em;
  background-color: #1B256AD9;
}


.styleimg {
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  margin-top: 25vh;
}

.imagebox {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.photo-card {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin: 40px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  overflow: hidden;
  background-color: #1A2165;
}

.icons a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: black;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64%;
}

.photo-card img {
  width: 100%;
  height: 95%;
  display: block;
  padding: 16px;
  margin: 0;
  padding-bottom: 5px;
  border-radius: 25px 25px 0px 0px;
}

.card-contentContact {
  height: 35%;
  padding: 0px;
  color: white;
  font-family: Goldman;
  font-size: 26px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0;
  padding-top: 4px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.alignicons {
  margin: 4px 12px;
}

.contactcards {
  margin-top: 10vh;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 860px) {
  .styleimg{
    width: 55vw;
  }
}