.categoriesMainContainer {
  margin-bottom: 5em;
}

.headingTitle {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 3.5em;
  text-align: center;
  color: #084b82;
  margin-bottom: 0.25em;
}

.headingLine {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 1.75em;
  line-height: 149%;
  text-align: center;
  letter-spacing: 0.1em;
  color: #084b82;
}
.headingLine > span {
  color: #ffba01;
}

.categoriesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 500px;
}

.categoriesBox {
  position: relative;
  width: 20%;
  max-width: 300px;
  aspect-ratio: 1/1;
  background-color: #084b82;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categoriesBox:hover {
  cursor: pointer;
}

.categoriesUnactiveContent > h4 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  line-height: 2.5em;
  text-align: ce nter;
  letter-spacing: 0.04em;
  color: #e7a800;
}

.categoriesUnactiveContent > p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.categoriesUnactiveContent.active {
  display: none;
}

.categoriesActiveContent {
  display: none;
}

.categoriesActiveContent.active {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 140%;
  width: 90%;
  bottom: 1.5em;
  background-color: #ffb900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categoriesActiveContent > img {
  width: 50%;
  margin-bottom: 30%;
}

.categoriesActiveContent > h4 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  line-height: 1em;
  text-align: center;
  letter-spacing: 0.04em;
  color: #084b82;
  margin-bottom: 10%;
}

.categoriesActiveContent > p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 1.25em;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
}

.activeBar {
  position: absolute;
  bottom: 0px;
  background-color: #ffb900;
  width: 100%;
  height: 0.5em;
}

.activeBar.active {
  background-color: #ff5d02;
}
