.headingTitle {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 3.5em;
  text-align: center;
  color: #084b82;
  margin-bottom: 0.25em;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  row-gap: 2em;
  padding: 2em;
}

.content > li {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.content > li::before {
  position: relative;
  padding-top: 0.5em;
  content: url(./Assets/BulletPoints.png);
}

.description {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.75em;
  text-align: justify;
  letter-spacing: 0.04em;
  color: #123456;
}

.description > span {
  color: #ffb900;
}
