.structure {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.doodle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.doodle img {
  width: 10%;
}

.structure h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 128%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #084b82;
}

.content > li {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.content {
  font-weight: 400;
  font-size: 29px;
  line-height: 42px;
  letter-spacing: 0.04em;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  row-gap: 2em;
  padding: 2em;
  color: #7fb5e1;
}

.content > li::before {
  margin-top: 0.5em;
  background-image: url(./Assets/BulletPoints.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  display: flex;
  flex-direction: column;
  width: 5em;
}

.structure p {
  font-weight: 400;
  font-size: 23px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #084b82;
  margin-bottom: 24px;
}

.prizes {
  width: 100%;
  transform: translateY(12px);
}

.mobile {
  display: none;
}

@media (max-width: 758px) {
  .doodle {
    display: none;
  }

  .structure h1 {
    font-size: 18px;
  }

  .doodle img {
    width: 50%;
    margin-top: 56px;
  }

  .mobile {
    display: flex !important;
  }

  .content {
    width: 100%;
  }

  .content li {
    margin: 0;
    row-gap: 0 !important;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 50px 12px;
    gap: 0;
    list-style: none !important;
  }

  .content li::before {
    row-gap: 0 !important;
    background-image: none;
    list-style: none;
  }

  .structure p {
    font-size: 14px;
    line-height: 20px;
    width: 80%;
    margin-bottom: 30px;
    margin-top: 60px;
  }
}
