.roundCompContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.headingTitle {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 3.5em;
  text-align: center;
  color: #084b82;
  margin-bottom: 0.25em;
}

.headingLine {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 1.75em;
  line-height: 149%;
  text-align: center;
  letter-spacing: 0.1em;
  color: #084b82;
}
.headingLine > span {
  color: #ffba01;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4.75em;
}
.roundSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 8em;
}
.roundSection:nth-child(2) {
  flex-direction: row-reverse;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-width: 400px;
}

.infoHeading {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.75em;
  line-height: 2em;
  text-align: center;
  letter-spacing: 0.04em;
  color: #084c94;
  margin-bottom: 1em;
}
.infoDescription {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.55em;
  text-align: justify;
  letter-spacing: 0.1em;
  color: #084b82;
}
.infoDescription span {
  color: #ffba01;
}
.round1Image,
.round2Image {
  width: 40%;
  min-width: 400px;
}

.round1Image > img,
.round2Image > img {
  width: 100%;
}

@media (max-width: 756px) {
  .roundCompContainer {
    padding: 0 6em;
  }
  .roundSection {
    flex-direction: column-reverse !important;
    row-gap: 4em;
    margin-bottom: 4em;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 0px;
  }

  .round1Image,
  .round2Image {
    position: relative;
    width: 100%;
    min-width: 0px;
  }
  .round1Image > img,
  .round2Image > img {
    position: relative;
    width: 100%;
  }
}
