.syllabusContainer {
  position: relative;
  margin-top: 5em;
}

.headingTitle {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 3.5em;
  text-align: center;
  color: #084b82;
  margin-bottom: 0.25em;
}

.syllabusDetails {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  width: 70%;
  justify-content: center;
  margin: auto;
}

.categoryDiv {
  padding: 1em;
  background-color: #a8cff0;
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  align-items: center;
}

.categoryContent {
  width: 70%;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.25em;
  letter-spacing: 0.04em;
  color: #084b82;
}

.categoryName {
  width: 10%;
  min-width: fit-content;
  padding: 0.5em;
  aspect-ratio: 1;
  background-color: #ffb900;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #084b82;
}

.leftImg {
  width: 20%;
  position: absolute;
  top: -10%;
  z-index: -1;
}

.rightImg {
  width: 20%;
  position: absolute;
  bottom: -15%;
  right: 0%;
  z-index: -1;
}
