.headerContainer {
  width: 100%;
  z-index: -1;
  margin: 2em 0;
  background-color: #084b82;
  padding: 4.5em 0;
}

.headerContainer > div {
  max-width: 1544px;
  margin: auto;
}

.text {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffba01;
}

.textDescription {
  text-align: center;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 2em;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  width: 60%;
  margin: auto;
  padding-top: 0.5em;
}

@media (max-width: 756px) {
  .textDescription {
    text-align: justify;
  }
}
