.main{
    background-image: url("./images/Background.png");
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    overflow-x: hidden ;
    /* display: flex;
    flex-direction: column; */
    /* background-image: url(components\RegistrationSuccessful\reg_page_bg.png); */
    text-align: center;
    /* margin-top: 4rem; */
    
}
.aboutus{
    width: 33vw;
    margin: 20vh  0 10vh 0;
}

.description{
    margin: 10vh 0 0vw 10vh 0vw;
    margin-bottom: 40vh;
    width: 70vw;
}

.rounds {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 90rem;
    /* margin-top: 10rem; */
    /* left: 5%; */
    margin: 0 auto;
  }
  
  .round {
    width: 100%;
    max-width: 90rem;
    height: auto;
  }
  
  .poke1{
    width: 35%;
    height: auto;
    position: absolute;
    top: 21%;
    right: 16%;
  }
  .poke2 {
    width: 33%;
    height: auto;
    position: absolute;
    bottom: 17%;
    left: 10%;

  }
 
  
 
  

/* Categories css ends */










/* Prizes  */
.prizes{
    position: relative;
    width: 100%;
    height: auto;
    max-width: 90rem;
    /* margin-top: 10rem; */
    /* left: 5%; */
    margin: 0 auto;
    padding: 10rem 0rem 10rem 0rem;

   
}
.prize{
    width: 80%;
    height: auto;
    position: relative;
    /* right: 9rem; */
    

}
.poke3{
    width: 26%;
    height: auto;
    top: 1%;
    right: 60%;
    position: absolute;
}



/* Prizes css ends */


/* Categories css */
.main-Category{
    width: 65vw;
    padding: 2vh 0vh 6vh 0vh;
    
}
.categories{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 7rem;
    position: relative;
    left: 2.5%;
}
.apollox{
    width: 24vw;
    height: 56vh;
    
}
.apollox:hover{
    transform: scale(1.3);
    transition: ease;
}
.metiox{
    width: 24vw;
    height: 56vh;
   
}
.metiox:hover{
    transform: scale(1.3);
    transition: ease;
}
.athenox{
    width: 24vw;
    height: 56vh;
    
}
.athenox:hover{
    transform: scale(1.3);
    transition: ease;
}



.datevenue{
    width: 60vw;
    margin-top: 3vh;
    margin-bottom: 6vh;
}
.syllabus{
    width: 60vw;
    margin-top: 9vh;
}

.awards{
    width: 50vw;
    margin-bottom: 15vh;

}

@media (min-width: 508px) and (max-width: 1200px) {
    .poke1 {
      top: 24%;
      left: 48%;
    }
    .rounds{
        width: 85%;
    }
  
    .poke2 {
      top: 53%;
      right: 9%;
    }
    .poke3{
        
        top: 13%;
        right: 60%;
        
    }
    .description {
        margin-top: 2px;
        margin-bottom: 140px;
    }
    .datevenue{
        margin-top: 60px;
        margin-bottom: 90px;
    }
    .aboutus{
        margin-bottom: 20px;
    }
    .apollox , .metiox  ,.athenox{
        width: 30vw;
        height: 35vh;
    }
    .categories{
        display: flex;
        flex-direction: column;
        /* justify-items: center; */
        align-items: center;
        gap: 30px;
    }
  }


@media (max-width: 508px) {
    .aboutus{
        margin-bottom: 10px;
    }
    .description{
        margin-top:10px;
        margin-bottom: 60px;
    }
    .poke1 {
      top: 22%;
      left: 48%;
    }
  
    .poke2 {
      top: 55%;
      right:5%;
    }
     .poke3{
        top: 10%;
        right: 63%;
        
        width: 30%;
        height:27%;
    } 
    
    .rounds{
        left:1%;
    }
    .apollox , .metiox  ,.athenox{
        width: 30vw;
        height: 20vh;
    }
    .categories{

        margin-top: 2px;
        display: flex;
        flex-direction: column;
        /* justify-items: center; */
        align-items: center;
        gap: 40px;
    }
     .prizes {
        margin-top: -55px;
        margin-bottom: -60px;
    }
    .datevenue{
        margin-top:-20px;
    }

    .awards{
        margin-bottom: 40px;
    }
    .rounds{
        margin-top:0px;
        margin-left: 9px;
    }
    .syllabus{
        margin-top: 2px;
        margin-right: 20px;
    }
    
  }