.containerP {
  background-image: url("../GAMBITOR SVG/GAMBITOR SVG/Other\ Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  overflow-x: hidden;
  text-align: center;
}

.mainContainer {
  margin-top: 7%;
  display: flex;
  justify-content: space-evenly;
}

.paperImg {
  width: 30vw;
  margin-top: 15vh;
}

.papercontent {
  display: flex;
  flex-direction: column;
  height: 30%;
}

.shiftbox {
  display: flex;
  justify-content: space-evenly;
}
.papercontent h6 {
  color: #FFB400;
  font-family: Goldman;
  font-size: 2vw;
  text-align: center;
  font-weight: 600;
  padding: 2vw 0;
  line-height: 1vw;
  letter-spacing: 0.05em;
  border: 0.08em solid #FFB400;
  border-radius: 0.63em;
  background-color: #1B256AD9;
}

.roundHeading {
  width: 25vw;
  margin-top: 4.5%;
  
}

.listimg {
  padding: 20px;
  width: 25%;
  height: 22.5%;
  text-align: start;
}

.papercontent ul {
  padding-left: 0%;
}

.papercontent li {
  padding: 7% 0 7% 0;
  list-style: none;
}

.papercontent li a {
  text-decoration: none;
  font-family: Goldman;
  font-size: 2vw;
  font-weight: 600;
  line-height: 2vw;
  letter-spacing: 0.05em;
  color: #FFB400;
}

.papercontent li a:hover {
  color: white;
  background-color: none;
}

.papercontent li a:checked {
  color: gray;
  background-color: none;
}

.papercontent ul {
  margin-left: auto;
  margin-right: auto;
}



  /* Media Query for body of paper.js */

  @media screen and (max-width:770px) {
    .papercontent li img{
      padding: 10px;
    }
    .paperImg{
      width: 45.5%;
    }

    .papercontent h6 {
       font-size: 3.15vw; 
      
    }
    .roundHeading{
      width: 38vw;
    }
    .papercontent li a {
      font-size: 2.8vw;
      line-height: 2vw;
    }
  }