.structure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doodle {
  width: 100%;
  margin-top: 42px;
  margin-bottom: 65px;
  align-items: center;
  display: flex;
  justify-content: center;
  /* background: rgba(127, 181, 225, 0.6);
  border-radius: 50%;
  filter: blur(130px); */
}

.doodle img {
  width: 20%;
}

.structure h1 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #084b82;
}

.structure p {
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #084b82;
  margin-bottom: 60px;
}

.structure button {
  margin-bottom: 48px;
}

@media (max-width: 758px) {
  .doodle img {
    width: 60%;
    margin-top: 56px;
  }

  .structure h1 {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 16px;
  }

  .structure p {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 52px;
  }
}
