.structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 0 22%; */
  margin-bottom: 40px;
}

.cardStructure {
  padding: 90px 90px 0px 120px;
  align-items: center;
  display: flex;
  width: 50%;
  flex-direction: column;
}

.cardStructure h1 {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #084b82;
}

.form {
  width: 100%;
  margin-top: 55px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form input {
  margin-bottom: 40px;
}

.dots {
  width: 80px;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 36px;
  margin: 24px;
  justify-content: space-between;
}

.dot {
  background: #084b82;
  opacity: 0.2;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.btn {
  font-weight: 200;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.number {
  margin-right: 12px;
}

.inputError input {
  border: red 1px solid !important;
  background: rgba(255, 0, 0, 0.2) !important;
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.container button {
  margin-left: 20px;
  height: 48px;
  font-weight: 400;
  width: 140px;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.04em;
  margin-bottom: 12px;
}

.container select {
  height: 45px;
  width: 140px;
  margin-left: 12px;
  margin-bottom: 11px;
  background: #ffffff;
  border: 2px solid #084b82 !important;
  border-radius: 3.00999px !important;
}

@media (max-width: 758px) {
  .cardStructure {
    background: none !important;
    box-shadow: none;
    border-radius: none;
    width: 100%;
    padding: 70px 20px;
  }

  .cardStructure h1 {
    font-size: 30px;
    margin-top: 72px;
  }

  .form {
    margin-top: 33px;
  }
  .dots {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 80px;
  }
  .dot {
    width: 25% !important;
    height: 6px;
    border-radius: 7px;
  }

  .container select {
    height: 31px;
  }
}

.loader{
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 120px;
}
