.structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 0 22%; */
  margin-bottom: 40px;
}

.cardStructure {
  padding: 90px 90px 0px 120px;
  align-items: center;
  display: flex;
  width: 50%;
  flex-direction: column;
}

.cardStructure h1 {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #084b82;
}

.form {
  width: 100%;
  margin-top: 55px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form input {
  margin-bottom: 40px;
}

.dots {
  width: 80px;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 36px;
  margin: 24px;
  justify-content: space-between;
}

.dot {
  background: #084b82;
  opacity: 0.2;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.btn {
  font-weight: 200;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.flexRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.number{
  margin-right: 12px;
}