.ContactContainer {
  max-width: 1544px;
  margin: 8em auto;
}

.conveyorGrid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2em;
  margin: 2em;
}

.coordinatorGrid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 2.5%;
  margin: 2em;
}

.memberCard {
  margin-top: 2em;
  width: 20%;
}

@media (max-width: 900px) {
  .memberCard {
    margin-top: 2em;
    width: 30%;
  }
}
