.TimelineContainer {
  position: relative;
  width: 80%;
  text-align: center;
  margin: auto;
}

.heading {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5em;
  color: #084b82;
  margin-bottom: 1em;
}

.timeline {
  position: relative;
  width: 35em;
}
