.downloadButton{
        background-color: #e7a800;
        border-radius: 8px;
        border: none;
        padding: 0.4em 1.8em;
        width: fit-content;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.03em;
        color: #ffffff;
}
.downloadButton:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.1em);
    background-color:#ffbb00;
    cursor:pointer
  }