.updateContainer {
  position: relative;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10em auto;
}

.heading {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5em;
  color: #18568a;
  margin-bottom: 1em;
}

.content {
  position: relative;
  height: 100%;
  max-height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  padding: 2em;
}

.content > li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1em;
}

.content > li::before {
  padding-top: 0.25em;
  content: url(./Assets/BulletPoints.png);
}

.description {
  background: #ffffff;
  box-shadow: 0px 0px 37px 5px rgba(5, 62, 108, 0.1);
  border-radius: 0.75em;
  padding: 1em;
}

.description > .body {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1.25em;
  text-align: justify;
  letter-spacing: 0.04em;
  color: #084b82;
  padding: 0.25em 0;
}

.time {
  font-family: "Josefin Sans";
  font-weight: 500;
  font-size: 1.5em;
  text-align: justify;
  color: #084b82;
  padding-top: 0.75em;
}

.content::-webkit-scrollbar {
  width: 0.75em;
}

.content::-webkit-scrollbar-track {
  background: rgba(8, 75, 130, 0.2);
  border-radius: 1em;
}

.content::-webkit-scrollbar-thumb {
  background: #084b82;
  border-radius: 1em;
}
