/*---------------------------- Footer-CSS Styling------------------------------ */
body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Jost', sans-serif;
  width: 100vw;
  overflow-x: hidden;

}



.footer {
  font-family: 'Jost', sans-serif;
  margin-top: 20vh;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.part1 {
  text-decoration: none;
  margin-right: 5vw;
}

.logoF {
  width: 80%;
  height: 100%;
}



.part2 {
  margin-right: 5vw;
}

.part2 ul {
  list-style-type: none;
}

.part2 li {
  text-decoration: none;
  margin-bottom: 25px;
  text-align: left;
  font-size: 22px;
  line-height: 20px;
}

.mobile-img{
  display: none;
}

.part3 {
  margin-right: 8vw;
}


.part3 ul {
  list-style-type: none;
}

.part3 li {
  text-decoration: none;
  margin-bottom: 25px;
  text-align: left;
  font-size: 22px;
  line-height: 20px;
}

/* CSS for Part4 */

.mobile-follow{
  display: none;
}

.part4 {
  display: flex;
  flex-direction: column;
}

.f-icons {
  font-size: 28px;
}

.part4 h5 {
  text-align: left;
  font-size: 24px;
  margin-bottom: 1vh;
}

.part4 ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 3vh;
  text-align: left;

}

.part4 li {
  margin-right: 20px;
  display: inline-block;
}

.part4 img {
  margin-top: 2vh;
  height: 5rem;
  width: 23rem;
}

.text-center {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-family: 'Jost', sans-serif;
}

@media screen and (max-width: 1405px) and (min-width:1205px) {
  .footer {
    margin-top: 18vh;
  }

  .part1 {
    width: 25%;
    height: 100%;
    text-align: center;
  }

  .logoF {
    width: 60%;
    height: 100%;
    margin: 0 auto;
  }

  .part4 img {
    margin-top: 2vh;
    height: 4rem;
    width: 19rem;
  }



  .part4 h5 {
    font-size: 19px;
  }

  .f-icons {
    font-size: 25px;
  }

  .text-center {
    margin-top: 2.2rem;
    font-size: 1rem;
  }

  .part2 li {
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 18px;
  }

  .part3 li {
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 18px;
  }


}

@media screen and (max-width: 1205px) and (min-width:875px) {


  .footer {
    margin-top: 15vh;
  }

  .f-icons {
    font-size: 20px;
  }

  .part1 {
    width: 17%;
    margin-right: 4vw;
  }

  .logoF {
    width: 100%;
    height: 100%;
  }

  .part4 img {
    margin-top: 2vh;
    height: 3.5rem;
    width: 16rem;
  }

  .part2 ul {
    margin-top: 2vh;
  }

  .part2 li {
    font-size: 1.8vw;
    line-height: 1.2vh;
    margin-bottom: 2.5vh;
  }

  .part3{
    margin-right: 5vw;
  }

  .part3 ul {
    margin-top: 2vh;
    
  }


  .part3 li {
    font-size: 1.8vw;
    line-height: 1.2vh;
    margin-bottom: 2.5vh;
  }

  .part4 h5 {
    font-size: 18px;
  }

  .text-center {
    margin-top: 2.2rem;
    font-size: 1rem;
  }




}

@media screen and (max-width: 875px) and (min-width: 600px){

  .footer {
    display: flex;
    height: 15%;
    justify-content: center;

  }

  .logoF {
    height: 95%;
    width: 95%;

  }

  .part1 {
    width: 25%;
    height: 100%;
    margin-right: 5vw;
    transition: .4s;
  }

  .part2 {
    text-align: left;
    display: inline;
    margin-right: 0;
    width: 30%;
    position: relative;
  }

  .part2 ul {
    margin-left: 3vw;
  }

  .part2 li {
    font-size: 2vw;
    line-height: 1.5vh;
    margin-bottom: 2.5vh;
    margin-left: 0;
  }

  .mobile-img{
    display: block;
    
    
  }

  .mobile-img img{
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
  }

  .part3{
    position: relative;
  }

  .part3 ul {
    margin-left: 10px;
  }

  .part3 li {
    font-size: 2vw;
    line-height: 1.5vh;
    margin-bottom: 2.5vh;
  }

  .part4 {
    display: none;
  }

  .mobile-follow{
    display: block;
    margin-left: 2vw;
    position: absolute;
    bottom: 0;

  }

 
  .mobile-follow ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2vw;
  }

  .mobile-follow ul li{
    display: inline;
    margin-right: 1.5vw;

  }

  .mobile-follow h5{
    margin-left: 4.3vw;
    margin-top: 4vh;
    margin-bottom: 0;
    font-size: 2vw;
  }

  .f-icons {
    font-size: 2vw;
  }

  .text-center {
    margin-top: 3vh;
    font-size: 0.8rem;
    align-items: center;
  }
}

@media screen and (max-width: 600px) and (min-width: 450px){
  .footer {
    display: flex;
    height: 15%;
    justify-content: center;
  }

  .logoF {
    height: 86%;
    width: 86%;
  }

  .part1 {
    width: 25%;
    height: 100%;
    margin-right: 4vw;
  }

  .part2 {
    text-align: left;
    display: inline;
    margin-right: 0;
    width: 32%;
    position: relative;
  }

  .part2 ul {
    margin-left: 3vw;
  }

  .part2 li {
    font-size: 2vw;
    line-height: 1.5vh;
    margin-bottom: 0.7vh;
    margin-left: 0;
  }

  .mobile-img{
    display: block;
  }

  .mobile-img img{
    width: 100%;
    height: 28%;
    position: absolute;
    bottom: 0;
  }

  .part3{
    position: relative;
    text-align: center;
    margin-bottom: -1vh;
  }

  .part3 ul {
    margin-left: 5px;
  }

  .part3 li {
    font-size: 2vw;
    line-height: 1.5vh;
    margin-bottom: 0.7vh;
  }

  .part4 {
    display: none;
  }

  .mobile-follow{
    display: block;
    margin-left: 4vw;
    height: 45px;
    position: absolute;
    bottom: 0;

  }

 
  .mobile-follow ul{
    list-style: none;
    margin-left: 5vw;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

  }

  .mobile-follow ul li{
    display: inline;
    margin-right: 1.5vw;
    margin-top: 0;

  }

  .mobile-follow h5{
    margin-left: 3vw;
    margin-top: 1vh;
    margin-bottom: 0;
    font-size: 1.8vw;
  }

  .f-icons {
    font-size: 2.2vw;
    margin-bottom: 2.6vh;
  }

  .text-center {
    margin-top: 1.5vh;
    font-size: 0.6rem;
    align-items: center;
  }
}



@media screen and (max-width:450px) and (min-width: 390px) {
  .footer {
    display: flex;
    height: 15%;
    justify-content: center;
  }

  .logoF {
    height: 96%;
    width: 96%;
  }

  .part1 {
    width: 25%;
    height: 100%;
    margin-right: 4vw;
  }

  .part2 {
    display: inline;
    margin-right: 0;
    text-align: left;
    width: 32%;
    position: relative;
  }

  .part2 ul {
    margin-left: 3vw;
  }

  .part2 li {
    font-size: 2vw;
    line-height: 1.5vh;
    margin-bottom: 0.5vh;
    margin-left: 0;
  }

  .mobile-img{
    display: block;
    
    
  }

  .mobile-img img{
    width: 100%;
    height: 28%;
    position: absolute;
    bottom: 0;
  }

  .part3{
    position: relative;
    margin-bottom: -1vh;
  }

  .part3 ul {
    margin-left: 5px;
  }

  .part3 li {
    font-size: 2vw;
    line-height: 1.5vh;
    margin-bottom: 0.5vh;
  }

  .part4 {
    display: none;
  }

  .mobile-follow{
    display: block;
    margin-left: 2vw;
    height: 5.5vh;
    position: absolute;
    bottom: 0;

  }

 
  .mobile-follow ul{
    list-style: none;
    margin-left: 3vw;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    height: 0%;
  }

  .mobile-follow ul li{
    display: inline;
    margin-right: 1.5vw;
    margin-top: 0;
  }

  .mobile-follow h5{
    margin-left: 10vw;
    margin-top: 1vh;
    margin-bottom: -1vh;
    font-size: 2vw;
  }

  .f-icons {
    font-size: 2.2vw;
    margin-bottom: 0;
  }

  .text-center {
    margin-top: 2rem;
    font-size: 0.6rem;
    align-items: center;
  }
}

@media screen and (max-width:390px) {
  .footer {
    display: flex;
    height: 15%;
    justify-content: center;
  }

  .logoF {
    height: 98%;
    width: 98%;
  }

  .part1 {
    width: 25%;
    height: 100%;
    margin-right: 5vw;
  }

  .part2 {
    display: inline;
    margin-right: 0;
    text-align: left;
    width: 32%;
    position: relative;
  }

  .part2 ul {
    margin-left: 1vw;
  }

  .part2 li {
    font-size: 2vw;
    line-height: 1.5vh;
    margin-bottom: 0.5vh;
    margin-left: 0;
  }

  .mobile-img{
    display: block;
    
    
  }

  .mobile-img img{
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
  }

  .part3{
    position: relative;
  }

  .part3 ul {
    padding-left: 16px;
  }

  .part3 li {
    font-size: 2vw;
    line-height: 1.5vh;
    margin-bottom: 0.5vh;
  }

  .part4 {
    display: none;
  }

  .mobile-follow{
    display: block;
    margin-left: 2.5vw;
    height: 5vh;
    position: absolute;
    bottom: 0;

  }

 
  .mobile-follow ul{
    list-style: none;
    margin-left: 2.5vw;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    height: 0%;
  }

  .mobile-follow ul li{
    display: inline;
    margin-right: 1.5vw;
    margin-top: 0;
  }

  .mobile-follow h5{
    margin-left: 5vw;
    margin-top: 1.8vh;
    margin-bottom: 0;
    font-size: 1.8vw;
  }

  .f-icons {
    font-size: 2.3vw;
    margin-bottom: 3vh;

  }

  .text-center {
    margin-top: 2rem;
    font-size: 0.6rem;
    align-items: center;
  }
}