

.mainFooter{
    width:100%;
    background-color: #084B82;
}

.footerContainer{
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    align-items: center;
    padding: 3% 10%;
}

.leftSection{
    padding-left:5%;
    padding-right: 0;
}
.row{
    margin: auto;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding-right: 6%
}


.footerImg{
    width: 20%;
}

.footPhone{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16.4029px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footMail{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16.4029px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.firstCol{
    padding: 0 10px;
}

.secondCol{
}

.thirdCol{
}

ul{
    list-style: none ;
}

.footerCol{
    padding: 0 15px;
}

a{
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color:#FFFFFF;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.socialLiks a{

}

.socialImg{
    height: 0.9em;
    padding:0.1em;
}

.copyRight{
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
    padding-top: 4em;
    padding-bottom: 3.5em;
}