.input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input label {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #084b82;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.input input {
  border: 2px solid #084b82;
  border-radius: 4px;
  color: #084b82;
  padding: 12px;
  color: #084b82;
}

.input input:focus {
  outline: none;
}

.input input:active {
  outline: none;
}
