.footerContainer {
  position: relative;
  background-color: #084b82;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainDiv {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logoDiv {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 1.05em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.logo {
  width: 100%;
}

.linkDiv {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 8%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5%;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.socailMedia {
  display: flex;
  flex-direction: row;
  column-gap: 0.5em;
}

.socailMedia > a {
  width: 2em;
}

.socailMedia > a > img {
  width: 100%;
}

a:hover{
  transform: translateY(-0.1em);
  color: rgb(79, 132, 190);
}

.TNC {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.3);
  margin-top: 5em;
}

@media (max-width: 600px) {
  .footerContainer {
    padding: 3em 1em;
  }

  .mainDiv {
    width: 100%;
    flex-direction: column;
    align-items: center;
    row-gap: 3em;
  }
  .logoDiv {
    width: 100%;
    row-gap: 0.5em;
  }
  .logo {
    max-width: 10em;
  }
  .linkDiv {
    width: 100%;
  }

  .column {
    row-gap: 5%;
    font-size: 1em;
    line-height: 1.5em;
  }
  .socailMedia > a {
    width: 1.5em;
  }
}
