body{
    background-image: url("images/background.png");
    font-family: 'Jost', sans-serif;
}

.navbar{
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.img1{
    margin-right: 13px;
}

.navbar a{
    color: white;
    outline: 1px solid #EE7349;
    border-radius: 6px;
    font-size: 18px;
}

.navbar a:hover{
    background-color: #EE7349;
    color: white;
   
}


/* Footer-section */
.footer{
    margin-top: -1%;
}
.footer p{
    color: white;
    margin: 0 0 0 87%;
}

span{
    color: #EE7349;
}

.icons{
    margin: 0.7rem 0 0 86%;
    
}

.footer img{
   width: 31px;
   margin: 0 1rem 0 0;
}

/* Main-Section */

.main{
    display: flex;
    margin: 0 0 0 5%;
}

.right{
    padding-left: 20%;
}

.left h1{
   color: white;
   margin: 3rem 0 0 0;
   font-size: 50px;
}

.left p{
    color: white;
    margin: 2rem 0 0 0;
    font-size: 22px;
    width: 30rem;
}

.left a{
    margin: 1rem 0 0 0;
    width: 10rem;
    color: white;
    outline: 1px solid #EE7349;
    border-radius: 6px;
    font-size: 22px;
}

.left a:hover{
    background-color: #EE7349;
    color: white;
}

.left h3{
    color: white;
    margin: 4rem 0 0 0;
    font-size: 20px;
}

.left .box{
    display: flex;
    margin-left: 0;
    margin-top: 1rem;
    outline: 1px solid #5E5E5E;
    width: 15rem;
    height: 7.1rem;
    border-radius: 8px;
}

.box h4{
   color: white;
   font-size: 16px;
   margin: 2.5rem 0 0 25px;
   width: 6rem;
   
}

.box img{
    height: 6em;
    width: 6rem;
    margin: 10px 20px 0 10px;
}


@media (max-width:1040px) {
    
    .main{
        display:block;
    }

    .left{
        text-align: center;
        padding-right: 5%;
    }
    .left h1{
         text-align: center;
         font-size: 2.5rem;
         width: 100%;
    }
    .left p{
         text-align: center;
         font-size: 1.06rem;
         width: 100%;
         height: auto;
    }
     .left a{
        margin : 4% 37% 5% 37%;
         font-size: 1rem;
    }
     .left h3{
         text-align: center;
         margin: 1rem;    
    }
    
    .footer{
        margin-top: 6%;
    }


    .footer p{
        color: white;
        text-align: center;
        margin-left: 0%;
        margin-bottom: 1%;
        
    }
    .icons{
        text-align: center;
        margin: 0 0 0 2%;
        
    }
    .left .box{
        margin-left: auto;
        margin-right: auto;
    }
    .box img{
        width: 30%;
        
    }
    .right{
        padding-left: 30%;
    }
    .right img{
        width: 50%;
        margin-top: 10%;
    }

}


@media (max-width:657px){
    .left a{
        margin : 4% 30% 5% 30%;
         font-size: 1rem;
    } 
}

@media (max-width:450px){

    .logo{
        margin: 2% auto 0 auto;
    }

    .navbar a{
        margin: 10% auto 0 auto;
    }

    .left a{
        margin : 4% auto 5% auto;
         font-size: 1rem;
         
    } 

    .left .box {
        margin-left: auto;
        margin-right: auto;

    }
}