.mainNav {
  position: relative;
  display: flex;
  padding: 0 7em;
  padding-top: 1em;
  width: 100%;
  height: max-content;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.navLogo {
  position: relative;
  width: 25%;
  max-width: 14em;
  z-index: 10;
}

.navLogo > img {
  width: 100%;
}

.navList {
  position: relative;
  width: 60%;
  z-index: 2;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.rightNavItems {
  color: #08528f;
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1em;
  text-align: center;
  letter-spacing: 0.03em;
}

.currentPage {
  color: #e7a800;
}

.leftImg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 10%;
}

.rightImg {
  position: absolute;
  top: -1em;
  right: 0;
  z-index: 1;
  width: 300px;
  height: 500px;
  overflow: hidden;
}

.rightImg > img {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 0%;
  right: -50%;
}

@media (max-width: 1000px) {
  .navLogo {
    position: relative;
    width: 10%;
    max-width: 14em;
  }
  .navList {
    width: 75%;
  }
}

@media (max-width: 756px) {
  .mainNav {
    position: relative;
    display: flex;
    padding: 0 3.25em;
    padding-top: 1em;
    width: 100%;
    height: max-content;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
  }
  .navLogo {
    width: 10%;
  }

  .navList {
    width: 80%;
  }

  .mobileNav.isActive {
    top: 10%;
    left: -45%;
  }

  .mobileNav {
    position: fixed;
    background-color: #ffffff;
    padding: 3em;
    top: 10%;
    left: 0%;
    display: flex;
    flex-direction: column;
    row-gap: 4em;
    box-shadow: 0px 4px 19px 14px rgba(0, 0, 0, 0.25);
    border-radius: 1.25em;
    z-index: 10;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .backdropDiv {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    z-index: 1;
  }

  .backdropDiv.isActive {
    display: none;
  }

  .rightNavItems {
    font-size: 2.5em;
    line-height: 1em;
    letter-spacing: 0.03em;
  }

  .button1 {
    background-color: #e7a800;
    border-radius: 8px;
    border: none;
    padding: 0.4em 1.25em;
    width: fit-content;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75em;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
  }

  .navLogo {
    position: relative;
    width: 40%;
  }
  .navList {
    width: 50%;
    column-gap: 1em;
  }
  .leftImg {
    top: 0;
    left: 0;
    width: 18%;
  }
  .rightImg {
    top: 0;
    width: 18%;
  }
}
