@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap");


.container-success {
  background-image: url("reg_page_bg.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Goldman", cursive;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

}

.alien {
  width: 15%;
  margin-top: 20vh;
  margin-bottom: 10px;
  align-items: center;
}

.success-msg {

  width: 50%;
}

.container-success button {
  padding: 10px 0;
  margin: 3vh auto 57vh;
  background-color: #FFB400;
  width: 23%;
  height: 40%;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 2.5vw;
  font-weight: 200;
}

@media  screen and (max-width: 600px) {
  .alien{
    margin-top: 30vh;
    width: 25%;
  }

  .success-msg{
    width: 70%;
  }

  .container-success button {
    padding: 7px 0;
    margin: 3vh auto 57vh;
    background-color: #FFB400;
    width: 23%;
    height: 40%;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 3vw;
    font-weight: 200;
  }
}