.icon{
  width: 1.2em;
  height: 1.2em;
  height: 32px;
  width: 32px;
  margin-right: 0.5em;
  animation: loading infinite 0.4s;
}

@keyframes loading {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(361deg);
  }
}